# R & RStudio files
*.Rproj
.Rproj.user
.Rhistory
Rplots*
src/paper/.quarto/
src/paper/*_files/
src/paper/index.tex
src/paper/index.aux
src/paper/index.toc
# Workflow files
.snakemake
out/
logs/
sandbox/
resources/
notebooks/
.vscode/
*.pdf
*.log
*.html
*.xls
# Private data
src/data/bcs_covariates.csv
