# R & RStudio files
*.Rproj
.Rproj.user
.Rhistory
Rplots*
src/paper/.quarto/
# Workflow files
.snakemake
out/
logs/
sandbox/
resources/
notebooks/
.vscode/
*.pdf
*.log
*.html
*.xls
# Private data
src/data/bcs_covariates.csv
